/* This CSS File Is For All Posted Tweets */

/* Container for Entire Posted Tweet */
.posted-tweet {
  background-color: royalblue;
  width: 100%;
  border: 5px solid black;
  margin-bottom: 1.5em;
}

.posted-tweet:hover {
  box-shadow: 10px 5px 5px black;
}

.footer-icons .fa-flag:hover, 
.footer-icons .fa-retweet:hover,
.footer-icons .fa-heart:hover {
  color: rgb(182, 170, 11);
}

/* Adjusting Avatar, Name, and Handle in Header */
.tweet-header {
  display: flex;
  padding: 0.5em;
  justify-content: space-between;

}

/* Adjusting Avatar and Name To Be Same Row */
#image-name {
  display: flex;
  flex-direction: row;
}

.tweet-body {
  padding: 0.5em;
  display: flex;
  flex-wrap: wrap;
}

/* Black Divider Line Separating Posted Tweet Footer and Body */
.divider {
  background-color: black;
  height: 5px;
  margin: 0 0.5em;
}

/* Adjusting Created Date and Icon Placement in Footer */
.tweet-footer {
  display: flex;
  padding: 0.5em;
  justify-content: space-between;
}

/* Banner For Error Text Input */
#error-text-zero,  
#error-text-over {
  background-color: rgb(80, 80, 80);
  border: 3px solid maroon;
  display: flex;
  justify-content: center;
}